body{
  background-color:#26547c;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

 h1{
    text-shadow: 3px 3px #9cacfc;
    font-size:55px;
    color: white;
}

h2{
  color:#e21281;
  font-family: "Comic Sans MS", cursive, sans-serif
}


.firstP{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #e21281;
}

h4{
   font-family: "Comic Sans MS", cursive, sans-serif;
   color:#06D6A0;
}

 .list1{
   color:#06D6A0
 }
h5{
  color:FFD166;
}
.list2{
  list-style: armenian;
  color:#FFD166;
}
h6{
  color:#cf76f9;
  font-size: 20px;
}
.secondP{
  font-size:55px;
  color:#3439a8
}
table{
  color:#fff351
}
div {
    width: 300px;
    border: 25px solid blue;
    padding: 25px;
    margin: 25px;
}
